<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div class="a1">
        <div class="container center-align">
            <% if(typeof response !='undefined' ){ %>
            <% if(response.status === 200 && response.data.length > 0 ){ %>

            <form action="/api/test" method="post">

                <ul class="collection center-align">
                    <% let i=0; response.data.forEach((link)=>{ %>
                    <li class="collection-item">
                        <% let j = i++; %>
                        <input name="<%= j %>" type="checkbox" id="<%= j %>" value="<%= link %>" />
                        <img class="responsive-img" width="auto" src="<%= link %>">
                    </li>
                    <% }); %>
                </ul>

                <input type="hidden" name="site" value="<%= response.search.site %>" />
                <input type="hidden" name="query" value="<%= response.search.query %>" />
                <div class="center-align">
                    <button class="btn waves-effect waves-light" type="submit">Save
                    </button>
                </div>
            </form>
            <% } %>
            <% } %>
            <% if(response.saved !=null ){ %>
            <h3>Saved</h3>
            <ul class="collection center-align">
                <%  response.saved.forEach((block)=>{ %>
                <% block.forEach((link2)=>{ %>
                <li class="collection-item">
                    <img class="responsive-img" width="auto" src="<%= link2 %>">
                </li>
                <% }); %>
                <% }); %>
            </ul>
            <% } %>
        </div>
    </div>
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>
</body>

</html>